@model List<Restaurant.Core.Models.Restaurants>

@if (Model is {Count: > 0 })
{
    @foreach (var restaurant in Model)
    {
        <div class="list-group w-auto">
            <div href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <img src="~/images/restaurant.jpeg" alt="@restaurant.Name" width="32" height="32" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">@restaurant.Name</h6>
                        <p class="mb-0 opacity-75">Building no: @restaurant.Building, Street: @restaurant.Street, City: @restaurant.City</p>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="list-group w-auto">
        <div href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h5 class="mb-0">No restaurant found</h5>
                </div>
            </div>
        </div>
    </div>
}
